In [17]:
import pandas as pd

# Load the data into a pandas dataframe
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv")

# Check the number of missing values in each column
missing_data = df.isnull().sum()

# Drop rows with missing data
df.dropna(inplace=True)

# Fill missing data with mean values
df.fillna(df.mean(), inplace=True)

# Remove duplicates
df.drop_duplicates(inplace=True)

# Remove any invalid characters
df = df.replace('[^0-9a-zA-Z]+', '', regex=True)

# Convert all data to lowercase
df = df.applymap(lambda x: x.lower() if type(x) == str else x)

# Save the cleaned and transformed data to a new file
df.to_csv("cleaned_transformed_data.csv", index=False)

print(df)

              John       Doe          120 jefferson st.   Riverside  NJ  \
0             jack  mcginnis                  220hoboav       phila  pa
1        johndaman    repici             120jeffersonst   riverside  nj
2          stephen     tyler  7452terraceattheplazaroad    sometown  sd
4  joantheboneanne       jet            9thatterraceplc  desertcity  co

    08075
0    9119
1    8075
2   91234
4     123

<ipython-input-17-aaaa57c0ed28>:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)